[Unit]
Description=I Refuse webapp
After=network.target

[Service]
Type=simple
User=irefuse
Group=irefuse
WorkingDirectory=/opt/irefuse
Environment="VIRTUAL_ENV=/opt/irefuse/venv" "PATH=/opt/irefuse/venv/bin:$PATH"
ExecStart=/opt/irefuse/venv/bin/python /opt/irefuse/server.py

[Install]
WantedBy=multi-user.target
