appdirs==1.4.3
bcrypt==3.1.3
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
coverage==4.4.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
nose==1.3.7
packaging==16.8
passlib==1.7.1
pycparser==2.18
pydocstyle==2.0.0
pyparsing==2.2.0
pytz==2017.2
requests==2.18.4
snowballstemmer==1.2.1
tempora==1.9
urllib3==1.22
Werkzeug==0.12.2
